$background: #0a0a0a;
$foreground: #ededed;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 76px;
    background-color: transparent;
    transition: all 0.3s ease;

    &__container {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-left: 40px;
        padding-right: 40px;
        color: $foreground;
    }

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    &__nav {
        display: flex;
        gap: 2rem;
    }

    &__link {
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;

    }

    &--scrolled {
        background-color: $background;
    }

    &__cart {
        background: transparent;
        border: none;
        cursor: pointer;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}