@font-face {
	font-family: 'DrukWideCyr';
    src: url('../../../customFonts/fonts/drukwidecyr-bold.eot');
	src: url('../../../customFonts/fonts/drukwidecyr-bold.eot?#iefix') format('embedded-opentype'),
		url('../../../customFonts/fonts/drukwidecyr-bold.woff2') format('woff2'),
		url('../../../customFonts/fonts/drukwidecyr-bold.woff') format('woff'),
		url('../../../customFonts/fonts/drukwidecyr-bold.ttf') format('truetype'),
		url('../../../customFonts/fonts/drukwidecyr-bold.svg#drukwidecyr-bold') format('svg');
}

.bannerVideoContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

.bannerVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.bannerVideo__containerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #ffffff;
    
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
}

.bannerVideo__mainText {
    font-family: 'DrukWideCyr', Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.bannerVideo__description {
    font-size: 16px;
    font-family: 'DrukWideCyr', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}